NODE_ENV=development
PORT=3000
LOCAL_PORT=3003
MONGODB_URL=
JWT_SECRET=
TOKEN_EXPIRES_TIME=84h
FRONTEND_RESET_PASSWORD_URL=http://localhost:3000/auth/reset-password
FRONTEND_VERIFY_URL=http://localhost:3000/auth/verify-email
ASCEND_ORG_ID=
EMAIL_USER=
EMAIL_PASS=
EMAIL_HOST=
EMAIL_PORT=465
PAYSTACK_SECRET_KEY=
PAYMENT_LINK_SECRET=
FRONTEND_APP_URL=http://localhost:3000
